.App{
  background-color: rgb(223, 211, 211);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  border: 1px solid #B24242;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  margin-top: 5px;
  background-color: #FBE8E8;
}

.container{
  background-color: #fff;
  padding: 60px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
  border: none;
  font-size: 70px;
  text-align: center;
  width: 100px;
  max-width: fit-content;
  background-color: #FBE8E8;
  color:#B24242;
}

input:focus{
  border: none;
}

button{
  padding : 27px 35px;
  border-right: 1px solid #B24242 ;
  border-left: none;
  border-top:none;
  border-bottom: none;
  font-size: 60px;
}

.dec{
  background-color: #fff;
  color: #B24242;
}

.inc{
  background-color: #B24242;
  color: #fff;
}

.loader {
  display: inline-block;
  margin-right: 10px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}